.jumbotron {
  background-image: url("../images/friends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body {
  background: #d9c1a9;
}

.survey {
  background: #d6d2cc;
}

.button-primary {
  background: #ca4737;
}

i {
  margin-right: 10px;
}

#logo,
#caption {
  text-shadow: 1px 1px 5px #000;
}

h4 {
  margin-top: 10px;
}

.modal-title,
.modal-body {
  text-shadow: 1px 1px 20px #fff;
}

.modal-content {
  background-image: url("../images/wall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
